.hover-button{
    background: rgb(205, 242, 243);
    color: rgb(0, 0, 0);
    padding:12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0blue, 2);
}
.hover-button:hover{
    background: rgb(233, 185, 185);
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0,0 , 0, 2);
}